/* reset y propiedades generales */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body{
    background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 10%, rgba(238,232,232,1) 100%);
}

a {
    text-decoration: none;
    
}

main{
    height:100vh;
    
}

.titulo__pagina{
  text-align:left;
  padding-top:4rem;
  
}


/*propiedades del header*/

.navbar{
    background-color: rgb(8, 8, 8);
}

.navbar-collapse{
    flex-grow: 0;
    margin-right:80px;
}

.nav-link{
    color:whitesmoke
}

.nav-link:hover{
   font-weight: bold;
   color:white;
   border-bottom:2px solid whitesmoke;
}


.navbar-toggler-icon{
    background-image:url(../img/icons/menu.jpg) ;
}

.main__home {
    background-image: url(../img/fondoHome.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-color: rgb(238, 232, 232);
    display: flex;
}

.texto {
    position: relative;
    font-size: 1.3rem;
    text-align: right;
    font-style: oblique;
    margin-top: 25vh;
    margin-left: 5rem;
}

.texto p{
    margin-bottom:0px;
}


/*propiedades del grid galeria*/
.grid__galeria {
    display: grid;
    height: 100vh;

    grid-template-areas: "header"
        "titulo"
        "container__carrousel"       ;
    grid-template-columns: 100%;
    grid-template-rows: 5rem 5rem 1fr;


}

.container__carrousel{
   /*display:flex;*/
   justify-content: center;
   margin-bottom:30px;
   margin-top: 30px;
}

.carousel{
    width:70%;
    margin:auto;
}


header {
    grid-area: header;
}

.titulo {
    grid-area: titulo;
    margin-top: 15px;
    margin-left: 35px;
}

/*propiedades del footer*/

footer {
    background-color: rgb(5, 5, 5);
    width: 100%;
    color: whitesmoke;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    grid-area: footer;
    
}

.footer__pages{
    position: absolute;
    bottom: 0;
    left: 0;
}

footer div {
    width: 25%;
    padding: 1.5rem;

}

footer div a {
    color: whitesmoke;
}

footer h3 {
    margin-bottom: 10px;
    font-size: 1.1rem;
}

.footer__medioPago {
    width: 70%;
}





/*Inicio media query 800*******************************************************************************/
@media screen and (max-width:800px) {
    html{
        font-size:14px;
    }

    .main__home {
        background-image: url(../img/fondoHomeTablet.jpg);
    }

    .texto {
        position: relative;
        font-size: 1rem;
        text-align: right;
        font-style: oblique;
        margin-top: 5rem;
        margin-left: 4rem;
    }



    .mediosPago {
        display: none;
    }

    .div__iniciarSesion a {
        display: none;
    }

    .div__iniciarSesion img {
        display: block;
    }

    .main__nosotras{
        width:100%;
    }

  
    .galeria__fila-central img {
        width: 100%;
    }

    .carousel{
        width:100%;
        
    } 
    

}

/*fin media query 800*/

/*Inicio media query 480*******************************************************************************/
@media screen and (max-width:480px) {
     .main__home {
        background-image: url(../img/fondoHomeTablet.jpg);
    }

    .texto {
        background-color: rgba(17, 17, 17, 0.5);
        color: whitesmoke;
        width: 100%;
        height: 9.5rem;
        padding: 1rem;
        margin-left: 0px;
        margin-top: 27rem;

    }

    .mediosPago {
        display: none;
    }

    .div__iniciarSesion a {
        display: none;
    }

  
    footer {
        justify-content: center;
    }

    footer div {
        width: 50%;
    }

    footer div h3,
    p,
    a {
        font-size: 0.8rem;
    }

    .contacto {
        display: none;
    }

      



    .tienda__fila__producto {
        width: 100%;

    }

    .carousel{
        width:100%;
        
    } 

}